@page
@model Assessment3.Pages.Index1Model
@{

}
@*Student will have studentId, name, qualification and skill.*@
<h1>Student</h1>
<div class="container">
    <form method="post">
    <table class="table">
        <tr>
            <th>StudentId :</th>
            <td><input type="text" asp-for="@Model.student.StudentId"  required /></td>
        </tr>
            <tr>
                <th>Name :</th>
                <td><input type="text" asp-for="@Model.student.Name" required/></td>
            </tr>
            <tr>
                <th>Qualification :</th>
                <td><input type="text" asp-for="@Model.student.Qualification" required /></td>
            </tr>
            <tr>
                <th>Skill :</th>
                <td><input type="text" asp-for="@Model.student.skill" required /></td>
            </tr>
            <tr >
              <td colspan="2">
                <button type="submit" value="Submit">SUBMIT</button>
                </td>
             </tr>
    </table>
    </form>

    <div class="container" >
        <table class="table">
          
                <tr>
            <td>StudentId</td>
            <td>Name</td>
            <td>Qualification</td>
            <td>Skill</td>
                </tr>
     

     
                @foreach(var item in Model.list)
                    {
                        <tr>
                        <td>@item.StudentId</td>
                        <td>@item.Name</td>
                        <td>@item.Qualification</td>
                        <td>@item.skill</td>
                    </tr>
                    }
                 
                
        

        </table>

    </div>

</div>